a {
  color: aqua;
}

a:visited {
  color: black;
}
a:hover {
  color: black;
}
a {
  display: inline-block; /* Makes the link behave like a button */
  padding: 10px 20px; /* Adds space inside the button */
  font-size: 18px; /* Makes the text larger */
  color: #ffffff; /* Text color */
  text-decoration: none; /* Removes underline from links */
  border: 2px solid #333; /* Adds a border around each link */
  border-radius: 50px; /* Rounds the corners */
  margin: 0 5px; /* Space between buttons */
  background-color: #333;
}
a:hover {
  background-color: #b11919;
  color: yellow;
  transition-duration: 800ms;
}
a {
  font-size: 40px;
}
body {
  text-align: center;
}
.red-box {
  width: 500px;
  height: 500px;
  background-color: red;
  display: flex;
  margin: 0px auto;
  border: 2px color yellow;
}
.blue-box {
  width: 80%;
  height: 80%;
  box-sizing: 100px;
  background-color: rgb(8, 0, 255);
  display: flex;
  margin: 0px auto;
}
.green-box {
  width: 62%;
  height: 72%;
  box-sizing: 100px;
  background-color: rgb(9, 255, 0);
  display: flex;
  margin: 0px auto;
}
