@font-face {
  font-family: "ryzendigital.ttf";
  src: local("ryzendigital.ttf"),
    url("fonts/ryzendigital.ttf") format("truetype");
}

h1 {
  font-family: "ryzendigital.ttf";
  color: orangered;
}
p {
  font-family: "ryzendigital.ttf", monospace;
}
body {
  background-color: #747474;
}
.text-decoration {
  text-decoration: line-through dashed orangered;
}
.size {
  text-transform: uppercase;
}
.text-shadow
{
  text-shadow: 2px 3px 4px orangered; 
}
