.card-image-container {
  text-align: center;
  padding: 10px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ddd;
}

.card-image-container img {
  max-width: 100%;
  height: auto;
}

/* Text container styling */
.card-text-container {
  padding: 10px;
}
