input[type="radio"] {
    transform: scale(1.8); /* Scales the radio button to 1.5 times its original size */
    cursor: pointer; /* Optional: Makes the cursor a pointer when hovering over the radio button */
}

h2 {
    text-align: center;
    font-size: 70px;
    color: #4caf50;
    line-height: 10px;
    
}
h1 {
  font-size: 70px;
  text-align: center;
  color: #45a049;
  line-height: 10px;
}
body {
  background-color: #333;
}
/* Center the box and give it a styled appearance */
.form-box {
  width: 800px;
  margin: 50px auto;
  padding: 5px;
  border: 1px solid #1c8d00;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #888888;
  font-size: 25px;
  line-height: 23px;
}

/* Style the form elements */

.form-box button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-box button:hover {
  background-color: #45a049;
}
