* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
nav {
  width: 100vw;
  background-color: #333;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding-left: 30px;
  padding-right: 30px;
}
nav a {
  text-decoration: none;
  flex-basis: 45px;
  color: red;
  font-size: 20px;
}

main {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 50px;
}

div {
  padding-right: 70px;
}
aside {
  flex-grow: 10;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-top: 10px;
}
aside a {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
article {
  display: flex;
  width: 30%;
  height: 40%;
  flex-direction: column;
}
section img {
  height: 400px;
  width: 600px;
  justify-content: start;
}
